@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

body {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  letter-spacing: 1px;
}

#popup {
  width: 300px;
}

// #guide {
//   width: 20%
// }

#event-column {
  margin: 0px 30px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 95%;
  font-size: 19px;
}

#main-container {
  display: flex;
  // flex-direction: column;
}

#map-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  
}

#side-container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // height: 95%;
  width: 100%
}

#description {
  width: 100%;
  height: 100%;
  // text-align: center;
  margin: 20px;
}

#new-search {
  text-align: center;
  height: 5%;
  width: 100%;
  font-size: 25px
}